<div id="modalUserCredential" class="modal fade" 
   data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{parent.titleModal}}</h4>  
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="login-form">
              <div *ngIf="showMessageModal" class="alert {{typeAlertModal}}" id="message-login">
                  <strong>{{titleMessageModal}}</strong>
                  <p> {{messageModal}}</p>
              </div>
                  <div class="col-md-12 col-sm-12">
                      <label class="" >Contrase&ntilde;a Nueva:</label>
                      <input type="password" [(ngModel)] = "parent.inputPassword" autofocus="autofocus"
                      name="inputPassword" id="inputPassword" class="form-control" />
                  </div>
                  <div class="col-md-12 col-sm-12">
                      <label class="" >Confirmar Nueva Contrase&ntilde;a:</label>
                      <input type="password" [(ngModel)] = "parent.inputConfirmPassword"
                      name="inputConfirmPassword" id="inputConfirmPassword" class="form-control" />
                  </div>     
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="saveCredentials()" class="btn btn-info">Cambiar</button>  
        </div>
      </div>
  </div>
</div>
