.ui-column-1{ width:5%;}
.ui-column-2{ width:9%;}
.ui-column-3{ width:9%;}
.ui-column-4{ width:9%;}
.ui-column-5{ width:14%;}
.ui-column-6{ width:20%;}
.ui-column-7{ width:10%;}
.ui-column-8{ width:9%;}
.ui-column-9{ width:9%;}
.ui-column-10{ width:11%;}
.ui-column-11{ width:8%;}
.ui-column-12{ width:11%;}



